<section class="mt-[50px] ml-[35px]">
  <h1 class="text-[#0e82c3] text-[26px] font-bold">Iniciar sesion</h1>
  <h2 class="text-[#555]">
    Cuéntanos lo que piensas, ayudemos a mejorar, participar nunca fue tan
    fácil.
  </h2>

  <form action="" class="mt-2 flex flex-col gap-3.5">
    <label for="" >Email</label>
    <input type="email" placeholder="Ingresa tu email" required />

    <label for="">Password</label>
    <input type="password" placeholder="Ingresa tu clave" required />

    <button type="submit" class="mt-[20px]">Ingresar</button>
  </form>

  <div class="flex flex-col gap-2 mt-[15px]">
    <a routerLink="/auth/forget"> Olvide mi contraseña </a>
    <a routerLink="/auth/register"> Crear una cuenta </a>
  </div>
</section>
