<section class="mt-[40px] mx-[35px]">
  <h1 class="text-[#0e82c3] text-[26px] font-bold text-center">Olvide mi contraseña</h1>
  <h2 class="text-[#555] text-center">
    ¿Olvidaste tu contraseña? Recuperarla nunca fue tan fácil, ¡Vuelve a entrar en segundos!
  </h2>

  <form action="" class="mt-2 flex flex-col gap-3.5">
    <picture>
      <img src="/password-image.jpg" alt="logo password" class="w-[300px] h-[130px] mx-auto">
    </picture>
    <label for="" >Email</label>
    <input type="email" placeholder="Ingresa tu email" required />

    <button type="submit" class="button mx-auto my-[10px]">Recuperar</button>
  </form>

  <a routerLink="/auth/login"> Volver a iniciar sesion </a>

</section>
