<section class="mt-[5px] ml-[35px]">
  <h1 class="text-[#0e82c3] text-[24px] font-bold text-center">Crear Cuenta</h1>
  <h2 class="text-[#555] text-center">
    ¡Forma parte de nuestra comunidad! Crear tue cuenta es rapido y sencillo
  </h2>

  <form action="" class="mt-1 flex flex-col gap-1">
    <label for="">Nombres</label>
    <input type="text" placeholder="Ingresa tus nombres" required />

    <label for="">Apellidos</label>
    <input type="text" placeholder="Ingresa tus Apellidos" required />

    <label for="">Email</label>
    <input type="email" placeholder="Ingresa tu email" required />

    <label for="">Password</label>
    <input type="password" placeholder="Ingresa tu clave" required />

    <label for="">Password Confirmación</label>
    <input type="password" placeholder="Confirma tu clave" required />

    <button type="submit" class="mx-auto mt-[5px]">Crear</button>
  </form>
  <a routerLink="/auth/login"> Ya tengo usuario </a>
</section>
