<section class="flex">
  <aside class="bg-[#0e82c3] w-[25%] h-screen relative">
    <picture class="flex flex-col justify-center items-center h-full relative">
      <img src="/logo-universidad.jpg" alt="Politecnico" class="w-[300px]" />
    </picture>

    <div
      class="absolute top-0 left-0 right-0 bg-black/50 z-50 flex flex-col items-center justify-center"
      style="height: 39.5%"
    >
      <div
        class="w-40 h-40 rounded-full overflow-hidden border-4 border-white flex items-center justify-center"
      >
        <img
          src="/administrador.jpg"
          alt="imagen usuario"
          class="w-full h-full object-cover"
        />
      </div>
      <h2 class="text-white text-lg font-semibold mt-4">Administrador</h2>
      <p class="text-gray-300 text-sm -mt-1">Administrador</p>
    </div>

    <div
      class="absolute left-0 right-0 bg-black/50 z-50 pt-[15px]"
      style="height: 60%; top: calc(40%)"
    >
      <div class="flex flex-col">
        @for (options of options(); track options.id) {
          <app-options [nombre]="options.nombre" [icon]="options.icon" [ruta]="options.ruta" />
        }
      </div>
    </div>
  </aside>
  <section class="px-[55px] pt-[55px] bg-[#f5f5f5] w-[75%] h-screen overflow-hidden">
      <router-outlet />
  </section>
</section>
