<div class="w-screen h-screen flex justify-center items-center box">
  <section class="rounded-2xl">
    <section class="w-1/2 h-full flex flex-col justify-center items-center p-5 bg-primary-color">
      <picture class="w-32">
        <img src="/logo.png" alt="Logo Universidad" class="w-full">
      </picture>
      <h3 class="text-white text-xl font-bold mb-2">Plataforma de Encuestas</h3>
      <p class="text-white text-sm text-center italic">
         “Impulsamos la mejora empresarial <br /> a través de tu opinión.”
      </p>
    </section>
    <section class="w-xl h-full p-5 bg-white">
      <router-outlet />
    </section>
  </section>
</div>
