<div class="w-full p-6 bg-theme-blue-king rounded-xl shadow-lg shadow-black/20 mt-6">
  <h2 class="text-xl font-bold text-white mb-4 flex items-center gap-2">
    <i class="fa-solid fa-industry text-theme-blue-king"></i>
    Listado de Empresas Registradas
  </h2>

  <div class="flex justify-between items-center mb-4">
    <div class="relative w-64">
      <input
        type="text"
        placeholder="Buscar por Nombre o NIT..."
        class="w-full py-2 pl-10 pr-4 rounded-lg bg-theme-orange text-white placeholder-gray-400 border border-transparent focus:border-theme-blue-king focus:ring-1 focus:ring-theme-blue-king transition-all"
      />
      <i
        class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <button
      class="bg-[#78C2AD] text-white font-medium py-2 px-4 rounded-lg hover:bg-[#68a892] transition-colors flex items-center gap-2 shadow-md shadow-[#78C2AD]/20 cursor-pointer"
      (click)="openDialog()"
    >
      <i class="fa-solid fa-plus"></i> Añadir Nueva Empresa
    </button>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-white/10">
      <thead class="bg-theme-orange  ">
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider rounded-tl-lg"
          >
            Nombre
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
          >
            NIT
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
          >
            Email
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-right text-xs font-medium text-gray-300 uppercase tracking-wider rounded-tr-lg"
          >
            Acciones
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-white/10">
        @for (empresa of empresas(); track empresa.id) {
          <tr class="hover:bg-theme-purple transition-colors duration-150">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <i class="fa-solid fa-building text-xl text-[#FADF63] mr-3"></i>
                <div class="text-sm font-medium text-white">
                  {{ empresa.nombre }}
                </div>
              </div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-400">{{ empresa.nit }}</div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-indigo-400 underline">
                {{ empresa.correo }}
              </div>
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
            >
              <button title="Editar" class="text-gray-400 hover:text-white mr-4 cursor-pointer" (click)="openDialog(empresa)">
                <i class="fa-solid fa-pen text-lg"></i>
              </button>
              <button title="Eliminar" class="text-red-400 hover:text-red-300 cursor-pointer" (click)="eliminarEmpresa(empresa.id)">
                <i class="fa-solid fa-trash text-lg"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
