
<div class="flex justify-center items-center h-full bg-theme-blue-king">
  <form
    class="w-[400px] p-6 rounded-lg shadow-sm space-y-5 bg-theme-blue-king "
    [formGroup]="myForm"
    (ngSubmit)="submit()"
  >
    <!-- Nombre -->
    <div>
      <label for="name" class="block mb-1 text-sm font-medium text-white">
        Nombre
      </label>

      <input
        type="text"
        id="name"
        formControlName="name"
        class="w-full px-3 py-2.5 bg-gray-100 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 text-sm placeholder:text-gray-400"
        placeholder="Ingresa el nombre"
        required
        tabindex="0"
      />

      @if(errorField('name')){
      <span class="text-sm text-red-500">Este campo es requerido</span>
      }
    </div>

    <!-- NIT -->
    <div>
      <label for="nit" class="block mb-1 text-sm font-medium text-white">
        Nit
      </label>

      <input
        type="number"
        id="nit"
        formControlName="nit"
        class="w-full px-3 py-2.5 bg-gray-100 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm placeholder:text-gray-400"
        placeholder="Ingresa el Nit"
        required
      />

      @if(errorField('nit')){
      <span class="text-sm text-red-500">Este campo es requerido</span>
      }
    </div>

    <!-- Correo -->
    <div>
      <label for="email" class="block mb-1 text-sm font-medium text-white">
        Correo
      </label>

      <input
        type="email"
        id="email"
        formControlName="email"
        class="w-full px-3 py-2.5 bg-gray-100 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm placeholder:text-gray-400"
        placeholder="Ingresa el Correo"
        required
      />

      @if(errorField('email')){
      <span class="text-sm text-red-500">Este campo es requerido</span>
      }
    </div>

    <!-- Botón -->
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2.5 rounded-md hover:bg-blue-700 transition-all shadow-sm cursor-pointer"
    >
      {{ data ? 'Editar' : 'Crear' }}
    </button>
  </form>
</div>

  <loading [type]="popupType" [message]="popupMessage()"></loading>
