<div class="container">
    <section class="card">
        <div class="options">
            <div class="left-content">
                <img src="/logo-universidad.jpg" alt="Logo Universidad" class="logo">
                <h2 class="subtitle">Plataforma de Encuestas</h2>
                <p class="phrase">
                    “Impulsamos la mejora empresarial a través de tu opinión.”
                </p>
            </div>
        </div>

        <div class="content">

            <h1 class="title">Iniciar sesion</h1>
            <h2 class="description">Cuéntanos lo que piensas, ayudemos a mejorar, participar nunca fue tan fácil.</h2>

            <form action="" class="form">
                <label for="">Email</label>
                <input type="email" placeholder="Ingresa tu email" required>

                <label for="">Password</label>
                <input type="password" placeholder="Ingresa tu clave" required>

                <button type="submit"> Ingresar </button>
            </form>

            <div class="links">
                <a href="#"> Olvide mi contraseña </a>
                <a href="#"> Crear una cuenta </a>
            </div>
        </div>
    </section>
</div>
