/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Google Sans Flex", sans-serif;
  --color-background: #9cd2ff;
  --color-primary-color: #0c8ce9;
}

@theme {
  --font-family: var(--font-family);
  --color-background: var(--color-background);
  --color-primary-color: var(--color-primary-color);
}

body {
  font-family: var(--font-family);
}
